// Font sizes
$size-huge:   2.369rem;
$size-large:  1.777rem;
$size-big:    1.333rem;
$size-normal: 1.000rem;
$size-small:  0.750rem;
$size-tiny:   0.563rem;

// Colors
$color-black:       #000;
$color-light-black: #222;
$color-gray:        #ccc;
$color-warn-red:    #622;
$color-dim-white:   #ddd;
$color-white:       #fff;
